@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Merriweather&display=swap');
.upper-section{
    margin-top:3em;
    border-radius: 0.1em;;
    display: flex;
    background-color: #000;
}

.image-container{
    /* margin-left: 5em; */
    /* margin-top:2em; */
    display: flex;
    flex-direction: flex-start;
    height: 50%;
    width: 60%;
}
.main-image{
    border-radius:1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}
.information-container{
    /* background-color:rgb(46, 5, 94); */
    margin-left: 4em;
    display: flex;
    /* flex-direction: block; */
    flex-direction: column; 
    /* position: relative; */
    /* align-items: flex-end; */
 }
.hey-me{
    margin-top: 0.62em;
    /* position: absolute; */
    color:white;
    font-size: 10em;
    font-family: Merriweather;
}
.message-me{
    font-size: 2.1em;
    color:white;
    font-family:'Crete';
    font-weight:bold;
}